body, html{
  height: 100%;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .tecnologias{
  height:100%;
  }
  h1.logo{
    font-size:50px;
  }
  .contactform{
    width:600px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .tecnologias{
    height:100%;
  }
  h1.logo{
    font-size:50px;
  }
  .contactform{
    width:400px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .contactform{
    width:600px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .contactform{
    width:500px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .contactform{
    width:300px;
  }
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Lato', sans-serif;
}

.logo {
  font-family: 'Share Tech Mono', monospace;
}

.transp {
  background-color: white !important;
  background: transparent;
  border-color: transparent !important;
}

.activeheader:hover{
  color:black;
}

.sects{
  height:100%
}

.center{
  text-align: center;
}

.vcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.objective{
  background-color:#F4fDFF;
}

.portfolio{
  background-color: #FFFFFF;
}

.card{
  padding:20px;
}

.crop{
  margin: 0 auto;
  max-width: 150px;
  height: auto;
  position: relative;
  overflow: hidden;
}

.round{
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.python3{
  background:url("../images/python.png") center no-repeat;
  background-size: cover;
}

.django{
  background:url("../images/django.png") center no-repeat;
  background-size: cover;
}

.jquery{
  background:url("../images/jquery.png") center no-repeat;
  background-size: cover;
}

.html5{
  background:url("../images/html5.png") center no-repeat;
  background-size: cover;
}

.css3{
  background:url("../images/css3.png") center no-repeat;
  background-size: cover;
}

.linksource{
  text-decoration: none;
  color: black;
}

.fa{
  font-size: 1.5em !important;
}

.contact{
  overflow: scroll;
}

.contactform{
  text-align:left;
  margin:0 auto;
}

.contactsubmit{
  width: 45%;
  font-family: 'Share Tech Mono', monospace;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px 10px 10px 10px;
  background-color: #EAEAEA;
  border: none;
  transition: all 0.5s ease;
}

.contactsubmit:hover{
  background-color: #969696;
  color: white;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 40px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}